/****Estilos base******/
html,body{height:100%;}
/****Estilos layout******/
$width-total:960px;
$height-footer:50px;
$margin-layout:20px;

$amarilloCla:#FDE663;
$amarilloOsc:#FFD300;
$morado:#937AB1;



#wrapper{ min-height: 100%; height: auto !important; height: 100%; margin: 0 auto  (-$height-footer); background-color:$amarilloOsc;}
header{height:90px;width:100%;background-color:$amarilloCla;}
#cont-header{position:relative;}
#cont-header,#main{width:$width-total;margin:auto;}


#callout{margin-top:$margin-layout;background-color:$morado;}

#contenido{margin:$margin-layout 0;background-color:white;}

footer,div.push{height:$height-footer;}
footer{width:100%;background-color:$amarilloCla;text-align:center;color:white;}



/****Estilos modulos******/
nav#principal{
  position:absolute;bottom:0;right:0;margin:20px 0; 
  li{float:left;padding:10px;margin-left:10px;border:3px solid $amarilloOsc;@include border-radius(12px)}


}



#callout{
  padding:20px;
  h1{margin:0;float:left;width:40%;font-size:24px;color:white;}
> div{
  float:left;border:2px double $amarilloCla;margin-left:20px;
  img{height:230px;width:520px;}
  }

}

ul#carrusel{margin:0;padding:0;}
